@import "./fonts.css";
@import "tailwindcss";

@theme {
	--color-mono-50: #f1f1f1;
	--color-mono-100: #e5e5e5;
	--color-mono-200: #c9c9c9;
	--color-mono-300: #b0b0b0;
	--color-mono-400: #989898;
	--color-mono-500: #808080;
	--color-mono-600: #666666;
	--color-mono-700: #4b4b4b;
	--color-mono-800: #323232;
	--color-mono-900: #1d1d1d;
	--color-mono-950: #111111;

	--color-prim-50: oklch(0.96 0.02 21.44);
	--color-prim-100: oklch(0.918 0.04 21.72);
	--color-prim-200: oklch(0.846 0.082 23.56);
	--color-prim-300: oklch(0.765 0.135 26.68);
	--color-prim-400: oklch(0.694 0.192 30.68);
	--color-prim-500: oklch(0.612 0.211 34.48);
	--color-prim-600: oklch(0.52 0.179 34.44);
	--color-prim-700: oklch(0.421 0.145 34.62);
	--color-prim-800: oklch(0.332 0.115 34.06);
	--color-prim-900: oklch(0.233 0.08 34.49);
	--color-prim-950: oklch(0.182 0.064 35.16);

	--font-sans: "Urbanist Variable", sans-serif;
}

/* creates weird iOS behavior (scroll shift) */
@utility hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
