@view-transition {
	navigation: auto;
}

/* transition names defined in -> ./tailwind.css */
::view-transition-group(nav-logo),
::view-transition-group(nav-routes),
::view-transition-group(nav-contact) {
	border-radius: var(--radius-lg);
	overflow: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 320ms;
	mix-blend-mode: normal;
}

::view-transition-old(root) {
	animation-name: fade-out;
}

::view-transition-new(root) {
	animation-name: fade-in;
	animation-delay: 320ms;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
